.display-header {
    margin: 15px 0px;
}

.upload-form {
    margin: 15px 0px;
}

.edit-buttons-display {
    display: flex;
}

.edit-page-forms {
    margin: 10px;
}

.searchbox {
    display: flex;
}

.images-list {
    display: flex;
}

.imagecard {
    height: 150px;
    width: 150px;
    margin: 15px;
}

.imagecard-img {
    height: 150px;
    width: 150px;
}

.navbar {
    background-color: papayawhip;
}

.nav-li {
    margin: 10px;
}

.imagepage-img {
    height: 600px;
}

.edit-img {
    height: 300px;
}