.imagecard {
    height: 150px;
    width: 150px;
}

.imagecard-img {
    height: 150px;
    width: 150px;
}

.navbar {
    background-color: ;
}

.imagepage-img {
    height: 600px;
}