{% extends 'base.html' %}

{% block content %}

<h2 class="display-header">Images</h2>

{% block searchbox %}
  <form class="navbar-form navbar-end searchbox" action="/images">
    <input
        name="q"
        class="form-control"
        placeholder="Search images"
        aria-label="Search"
        id="search" />
    <button class="btn btn-default">
      <span class="fa fa-search"></span>
    </button>
  </form>

{% endblock %}
    <div class="images-list container">
        <div class="row">
    {% for image in images %}
        <div id="{{ image.id }}" class="imagecard col">
            <a href="/images/{{ image.id}}"><img src="{{ image.aws_url }}"
                alt="{{ image.aws_url }}"
                class="imagecard-img"/></a>
        </div>

    {% endfor %}
</div>
    </div>
{% endblock %}