{% extends 'base.html' %} {% block content %}
<h2 class="display-header">Image Editor</h2>
<h3 class="display-header">{{ image.title }}</h3>

<img class="edit-img" src="{{image_aws_url}}" />

<div class="container edit-buttons-display">
    {% if bw == False %}
    <form method="POST" action="/edit/bw/{{ image.id }}" class="edit-page-forms">
    {{ g.csrf_form.hidden_tag() }}
    <button class="btn btn-secondary btn-sm"> Black&White</button>
    </form>
    {% else %}
    <form method="GET" action="/images/{{ image.id }}" class="edit-page-forms">
        {{ g.csrf_form.hidden_tag() }}
        <button class="btn btn-outline-danger btn-sm">Cancel</button>
    </form>
    {% endif %}
    <form method="POST" action="/save/{{ image.id }}" class="edit-page-forms">
        {{ form.hidden_tag() }}

        {{ form.aws_url(
            value=image_aws_url,
            type="hidden") }}
        
        <button class="btn btn-outline-success btn-sm">Save</button>
    </form>
</div>

{% endblock %}
