{% extends 'base.html' %}

{% block content %}

<h2 class="display-header">{{ image.title }}</h2>
<h4 class="display-header">{{ image.author }}</h4>
<p>Uploaded on: {{image.upload_timestamp}}</p>
<div id="{{ image.id }}" class="imagepage container">
  <div class="row">
    <div class="col">
    <img
    src="{{ image.aws_url }}"
    alt="{{ image.aws_url }}"
    class="imagepage-img"
  />
  </div>
  <div class="col">
  <h4>EXIF metadata:</h4>
  <p>{{image.exif_metadata | replace("\n", "<br/>") | safe}}</p>
  </div>
</div>
</div>

{% endblock %}
