{% extends 'base.html' %}
{% block content %}
  <h2 class="display-header">Upload an Image to Pix.ly</h2>
  <form method="POST" class="upload-form" id="upload_form" action="/add" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}
    <button class="btn btn-secondary btn-lg">Upload</button>
  </form>
{% endblock %}

